<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "description" content = "华大桂声是由木犀团队出品的华中师范大学官方校媒平台">
    <meta name = "keywords" content="华大桂声 华师 华中师范大学 小桂 木犀团队 i华大 ">
    <meta name="Copyright" content = "华中师范大学木犀团队Hello from Wuhan,2014-2017 Muxistudio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="http://img05.tooopen.com/images/20150128/sy_79896567561.jpg" sizes="32x32" />
    <title>华大桂声</title>
</head>

<body>
    {% block msg %}{% endblock %}    
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    {% block script %}{% endblock %}
</body>

</html>
