<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>华大桂声</title>
</head>

<body>
    {% block msg %}{% endblock %}
    <script src="http://localhost:3000/dist/vendor.bundle.js"></script>
    <script>
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
    {% block script %}{% endblock %}
</body>

</html>
