{% extends "base.html" %}
{% block msg %}
<div id="landing">
	
</div>
{% endblock %}
{% block script %}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
{% endblock %}