{% extends "base.html" %}
{% block msg %}
{% include 'header.html' %} 
<div id="app2">
	
</div>
{% endblock %}
{% block script %}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  
<script>
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
{% endblock %}