$white:#ffffff;
$black:#333333;
$grey:#f1f1f1;
$green:#14c1ad;
$orange:#faa61a;
$black_t:#999999;
$grey_l:#e6e6e6;
$grey_b:#e7e7e7;
$orange_b:#fcc973;
$orange_button:#fbc15e;
$orange_count:#ec6941;
$green_special_hover:#68a993;
$green_special:#bce1d9;
$green_button_hover: #3fb794;
$green_button: #01e2a0;
$green_title_s:#35dbb2;