@import './color.scss';
html,
body {
    margin: 0;
    padding: 0;
    background-color: $grey;
    font-size: 16px;
    font-family: Source Sans Pro, Helvetica, sans-serif, '黑体-简';
    min-height: 100%;
    position: relative;
}

@media (min-width: 500px) {
    body {
        width: 400px;
        margin: 0 auto;
    }
    html {
        background-color: rgba(233, 217, 207, 0.58);
    }
}

input {
    outline: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

textarea {
    outline: none;
    width: 100%;
    border: none;
}