@import './color.scss';
html,body{
	margin:0;
	padding:0;
	background-color: $grey;
	font-size: 16px;
	font-family: Source Sans Pro, Helvetica, sans-serif, '黑体-简';
	height:100%;
}
input{
	outline: none;
	display: inline-block;
}
a{
	text-decoration: none;
	color:black;
}

textarea {
    outline: none;
    width: 100%;
    border: none;
}